%header#main-header.navbar.clearfix
  .container.lightly-padded
    %nav#site-nav.navbar.navbar-default{ role: :navigation }
      .container.pull-left
        .clearfix
          .profile-image
            =link_to root_path, title: 'Home page' do
              %img{ src: '//gravatar.com/avatar/487ee72976701a1229e465dd12379908.png?size=100px', alt: 'profile picture' }
          .profile-info
            %p.name Eduardo Garibay-Frausto
            %p.profession Developer &amp; Gaming Enthusiast
            .social-media
              =link_to '//github.com/DrkCloudStrife', class: 'social', title: 'Visit my GitHub profile' do
                %i.fa.fa-github-square
              =link_to '//twitter.com/DrkStrife', class: 'social', title: 'Visit my Twitter profile' do
                %i.fa.fa-twitter-square
              =link_to '//twitch.tv/DrkStrife', class: 'social', title: 'Visit my Twitch profile' do
                %i.fa.fa-twitch

      %ul.nav.navbar-nav.pull-right
        %li= link_to t('navigation.home'),
          root_path,
          class: active_tab == :home ? 'active' : nil

        %li= link_to t('navigation.projects'),
          projects_path,
          class: active_tab == :projects ? 'active' : nil

        %li= link_to t('navigation.about'),
          about_path,
          class: active_tab == :about ? 'active' : nil

        - if authenticated?
          %li= link_to t('navigation.admin'),
            admin_path,
            class: active_tab == :admin ? 'active' : nil
          %li= link_to t('navigation.log_out'),
            admin_logout_path,
            class: active_tab == :logout ? 'active' : nil
