!!!
%html{ lang: current_locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible',  content: 'IE=edge' }
    %title Drkstrife
    = render 'layouts/shared/head'

  %body
    .container
      = render 'layouts/shared/header'

      .container.padded= yield

      = render 'layouts/shared/footer'
    = render 'layouts/shared/tracking' if Rails.env.production?
    = page_specific_scripts
    - if content_for?(:page_close)
      = yield :page_close
